* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #dbdbdb;
}

.left-side {
    display: flex;
    justify-content: space-around;
    gap: 30px;

}

.left-btn {
    display: flex;
    gap: 20px;
    align-items: center;
}

.left-btn p {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.left-btn p:hover{
    color: green;
}


.right-side {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.btn1 img {
    width: 21px;
    height: 21px;
}


.btn1 {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btn1:hover {
    color: green;
}



.right-btn {
    display: flex;
    gap: 20px;
}

.btn2 {
    font-size: 14px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.btn2:hover{
    background-color: rgba(128, 128, 128, 0.259);
}

.btn3 {
    font-size: 14px;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 7px 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn3:hover{
    background-color: rgba(0, 0, 0, 0.688);
}

.main-body {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: 'Poppins', sans-serif;
}


.box-type1 {
    height: 450px;
    display: flex;
}

.box-type2{
    height: 600px;
    display: flex;
}

.box-div {
    width: 50%;
}

.box-img{
    background-repeat: no-repeat;
    background-size: cover;
}

.box1-left {
    background-color: #1e3932;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.head1{
    color: white;
    font-weight: 600;
    font-size: 24px;
}

.sub-head1{
    width: 75%;
    font-size: 19px;
    text-align: center;
    color: white;
}

.box-btn{
    color: white;
    border: 1px solid white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

.box-btn:hover{
    background-color: rgba(0, 0, 0, 0.208);
}


.box1-right {
    background-image: url("images/box1.jpeg");
}

.box2-right {
    background-color: #a0c292;
}

.box2-left {
    background-image: url("images/box2.jpeg");
}

.box-mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.head2{
    color: #1e3932;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 600;
}

.sub-head2{
    color: #1e3932;
    width: 75%;
    font-size: 24px;
    text-align: center;

}

.box-btn2{
    color: #1e3932;
    border: 1px solid #1e3932;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
}
.box-btn2:hover{
    background-color: rgba(128, 128, 128, 0.344);
    color: #1e3932;
}

.box3-left {
    background-color: #f6bfd9;
}

.box3-right {
    background-image: url("images/box3.jpeg");
}


.box4-right {
    background-color: #fff4d4;
}

.box4-left {
    background-image: url("images/box4.jpeg");
}


.box5-left {
    background-color: #d4e9e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box5-right {
    background-image: url("images/box5.jpeg");
}

.head5{
    color: black;
}

.sub-head5{
    color: black;
}

.box-btn5{
    color: black;
    border: 1px solid black;

}

.box-btn5:hover{
    background-color: rgba(128, 128, 128, 0.344);
}

.restriction-div{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    border-bottom: 2px solid #dbdbdb;
}

.restriction-text{
    width: 45%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.restriction-text a{
    color: inherit;
}

.restriction-text a:hover{
    text-decoration: none;
}

.bottom-navigation{
    display: flex;
    justify-content: center;
}

.btm-nav{
    width: 95%;
    padding: 40px 0;
    border-bottom: 2px solid #dbdbdb;
    display: flex;
    gap: 50px;
}

.nav-head{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.btm-nav-options{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 200px;
}

.btm-nav-options p{
    font-size: 16px;
    color: #6b6b6b;
    cursor: pointer;
    font-weight: 500;
}

.btm-nav-options p:hover{
    color: black;
}

.bottom-nav-head{
    font-size: 18px;
    font-weight: 500;
}

.foot-icon img{
    width: 30px;
    height: 30px;
}

footer{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.foot-icon{
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.foot-icon img:hover{
    border-radius:50%;
    box-shadow: 0 0 0 8px #dbd5d59d;
}

.terms{
    display: flex;
    gap: 15px;
    font-size: 16px;
}

.terms-option{
    display: flex;
    gap: 20px;
    line-height: 2px;
}

.terms-option span{
    color: #6b6b6b;
    font-size: 18px;
}

.terms-option a{
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.terms-option a:hover{
    text-decoration: underline;
}

.copy-rights{
    font-size: 14px;
    color: #6b6b6b;
}